<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
<body>
<div>
  <h1>This is Form 2 and it only displays if the POST request is submitted via the button
    from within the form. The POST request made via javascript does not accomplish the
    same even though the /form2 "GET" route appears to have been activated as evidenced
    by the console.log messages that are triggered whilst in route /form2"</h1>
</div>
</body>
</html>