<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
<body>

<script type="text/javascript">

  async function postData(url, data) {
    console.log(`postData got called within form1.ejs`);
    const response = await fetch(url, {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {'Content-type': 'application/json; charset=UTF-8'}
    })
      .then(response => {
          if (!response.ok) {
              throw new Error("Could not reach desired route.");
          }
          return response.text();
      })

      .catch((err) => {
        console.log(`Error Occured Executing function "postData"`);
        console.error(err);
      })
  }

  function firstAction(dropdown) {
    var optionValue = dropdown.options[dropdown.selectedIndex].value;
    const data = {"action": optionValue}

    postData('/form', data)
  }
</script>

<div>
  <h1>This is Form 1</h1>
  <form action="/form" method="POST">
    <label for="action">Action</label>
    <select onchange="firstAction(this)" name="action" id="action">
      <option value = "item1">Item 1</option>
      <option value = "item2">Item 2</option>
      <option value = "item3">Item 3</option>
      <option value = "item4">Item 4</option>
      <option value = "item5">Item 5</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>